### 20191003

HW2

[점프 투 파이썬](https://wikidocs.net/book/1)

In [5]:
a = 'andy'
a

'andy'

In [9]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

a
n
d
y

In [12]:
print(a[1:])
print(a[:3])

ndy
and

In [15]:
b = 'Pithon'
b

'Pithon'

In [19]:
b = b[0]+'y'+b[2:]
b

'Python'

In [24]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [25]:
"{0:=^10}".format("hi")

'====hi===='

In [26]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [28]:
print(a.upper())
print(b.upper())

ANDY
PYTHON

In [30]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [32]:
even = [2,4,6,8,10]
even

[2, 4, 6, 8, 10]

In [39]:
c = [1, 2, [3, 4]]
print(c)
print(c[2])
print(len(c))

[1, 2, [3, 4]]
[3, 4]
3

In [48]:
d = [-1, 0, [1, 2, [3, 4]]]
print(d)
print(d[1])
print(len(d))
print(d[1:3])

[-1, 0, [1, 2, [3, 4]]]
0
3
[0, [1, 2, [3, 4]]]

In [59]:
print(odd + even)
print(sorted(odd + even))
print(sorted(odd + even, reverse=True))

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [68]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [71]:
e = { 'a': [1,2,3]}
e

{'a': [1, 2, 3]}

In [77]:
grade = {'pey': 10, 'julliet': 99}
print(grade['pey'], grade['julliet'])

10 99

In [79]:
print(even, odd)

[2, 4, 6, 8, 10] [1, 3, 5, 7, 9]

In [81]:
set1 = set(odd)
set2 = set(even)
print(set1)
print(set2)

{1, 3, 5, 7, 9}
{2, 4, 6, 8, 10}

In [89]:
print(set1 | set2)
print(set1 - set2)
print(set1 & set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 3, 5, 7, 9}
set()

In [96]:
import numpy
f = numpy.array(odd)
f

array([1, 3, 5, 7, 9])

In [98]:
# 중복 숫자 제거
a = [1,1,1,2,2,3,3,3,4,4,5]
set(a)

{1, 2, 3, 4, 5}

In [101]:
# A, B 값 추출
b = {'A':90, 'B':80, 'C':70}
print(b['A'], b['B'])

90 80

In [106]:
# 데이터 수정 방지
a = b = [1,2,3]
b = a.copy() ### 데이터가 수정되는 것을 방지할 수 있음
a[1] = 4
print(b)

[1, 2, 3]

### if
- 조건이 true하면 if 블록 실행
- false이면 else 블록 실행

In [133]:

money = True
if money:
     print("택시를 타고 가라")
else:
     print("걸어 가라")

택시를 타고 가라

In [134]:
money = 2000
card = True
if money >= 3000 | card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [141]:
print(1 in odd)
print(1 in even)
print(2 in odd)
print(2 in even)
print(odd in even)
print(even in odd)
print(odd in odd)
print(even in even)
print(odd not in odd)
print(even not in even)

True
False
False
True
False
False
False
False
True
True

### while
- 조건이 true이면 while 블록이 반복됨
- break: 강제로 while 반복문을 빠져나갈 수 있음
- continue: 조건이 false일 때 while문 종료되지 않고 처음으로 돌아가게 할 수 있음

### for
- list, tuple, string의 첫 요소부터 마지막 요소까지 대입되어 실행됨

In [147]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [131]:
## HW2-2

aa = [x * 3
     for x in list(range(1,100//3+1))]
aa

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [171]:
# CH3. example

a = "Life is too short, you need python"

if "wife" in a: 
    print("wife")
elif "python" in a and "you" not in a: 
    print("python")
elif "shirt" not in a: 
    print("shirt")
elif "need" in a: 
    print("need")
else: 
    print("none")

shirt

In [173]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [181]:
nums = list(range(1,6))
nums
result = []
for i in nums:
    if i % 2 == 1:
        result.append(i*2)
result

[2, 6, 10]

### 데이터 읽기

In [183]:
#ids = []
#with open('.', 'r') as f :
#    for item_ind, item in enumerate(f) :
#        if item_ind > 0 :
#            ids.append(item.strip())

In [ ]:
#with open('.', 'r') as f :
#    with open (read) fr:
#    !@#$%^&*&^%$#@!
#    f.write()

In [192]:
import os 

#try : 
#    os.mkdir(data)
#except :
#    pass
#    f.write('ID\tfield1\tfield2\tfield3\nTom\t2\t3\t1\nJane\t1\t1\t3\nJane\t2\t2\t1\nMax\t3\t1\t2\nKarl\t1\t4\t2\nMax\t3\t2\t2\nMax\t2\t2\t1')
    

with open('C:/Users/Administrator/Documents/data/ids.txt', 'w') as f :
    f.write('ID\nJohn\nKarl\nAndy\nTim\n')

with open('C:/Users/Administrator/Documents/data/data1.txt', 'w') as f :
    f.write('ID\tfield1\tfield2\tfield3\nTom\t1\t3\t1\nJohn\t1\t3\t3\nTom\t1\t1\t1\nKarl\t1\t1\t2\nKarl\t1\t3\t2\nKarl\t2\t2\t2\nAndy\t1\t2\t3')

with open('C:/Users/Administrator/Documents/data/data2.txt', 'w') as f :
    f.write('ID\tfield1\tfield2\tfield3\nTom\t2\t3\t1\nJane\t1\t1\t3\nJane\t2\t2\t1\nMax\t3\t1\t2\nKarl\t1\t4\t2\nMax\t3\t2\t2\nMax\t2\t2\t1')

In [187]:
def fgenerator(fnm, iter_option = 0) :
    with open(fnm, 'r', encoding='utf-8') as f :
        for idx, item in enumerate(f) :
            ID, V1, V2, V3 = item.strip().split()
            if iter_option == 0 :
                yield ID
            elif iter_option == 1 :
                yield V1
            elif iter_option == 2 :
                yield V2
            else :
                yield V3

In [189]:
%%time
gen_from_file = fgenerator(fnm)

NameError: name 'fnm' is not defined

In [ ]:
next(gen_from_file)